.contact {
  &-flex {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    @include breakpoint-up(large) {
      align-items: flex-end;
      flex-direction: row;

      > * {
        flex: 0 1 50%;
      }
    }
  }

  &__photo {
    display: block;
    max-height: 35rem;
    object-fit: cover;
    border-radius: 0.75rem;
  }

  &__text {
    font-weight: 500;

    @include breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__icon {
    width: 1.75rem;
    vertical-align: middle;
    animation: waving 1200ms ease-in 700ms both;
    backface-visibility: hidden;
  }

  &__links-container {
    display: flex;
    gap: 0.75rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    @include breakpoint-down(medium) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__link {
    display: inline-block;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid transparent;
    @include transition($on: all);

    &:hover {
      color: var(--font);
      border-bottom-color: var(--font);
    }
  }
}
